<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--accent collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa itaque
    reprehenderit, vitae ipsam ullam enim?
  </div>
</div>
<!-- only one instance of the following code is needed per body element -->
<script src="js/main.js"></script>
